@import "compass/reset";

.container {
  width: 1055px;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.abs {
  position: absolute;
}

.abs-right {
  top: 0;
  right: 0;
}

.rel {
  position: relative;
}

.ib {
  display: inline-block;
  vertical-align: top;
}

.cb:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  letter-spacing: -1px;
  color: #555;
  padding-bottom: 20px;
  padding-left: 3px;
  border-bottom: solid 1px #ddd;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  padding-left: 3px;
  border-bottom: solid 1px #ddd;
}

.round {
  border-radius: 50%;
}

.fs0 {
  font-size: 0;
}

.round-button {
  width: 31px;
  height: 31px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  i {
    display: block;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}

.view {
  z-index: 0;
  position: relative;
  margin-top: 40px;
}

.under-hover:hover {
  text-decoration: underline;
}



table {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;

  thead {
    width: 100%;
    th {
      font-size: 22px;
      color: #666;
      padding-bottom: 20px;

      &:first-child {
        padding-left: 20px;
      }

      &.violations {
        width: 180px;
      }

    }
  }

  tbody {
    width: 100%;
    tr {
      &:nth-child(odd) {
        background-color: #f7f7f7;
      }

      td {
        height: 39px;
        font-size: 14px;

        a {
          overflow: hidden;
          max-width: 720px;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          color: $blue;
          padding-bottom: 2px;

          &:hover {
            text-decoration: underline;
          }
        }

        &:first-child {
          padding-left: 20px;
        }

        &.url {
          span {
            display: block;
            max-width: 780px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
}

input[type='text'] {
  @include box-sizing(border-box);
  height: 30px;
  border: solid 1px #ddd;
  padding-left: 10px;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #999;
}

div.table {
  display: table;
  border-collapse: collapse;
}

div.tr {
  display: table-row;
}

div.td {
  display: table-cell;
}

.tab {
  position: relative;
  opacity: 1;
  visibility: visible;
  display: block !important;
  @include transition(opacity 200ms linear);
}

.tab.ng-hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.tabs {
  border-bottom: solid 1px #ddd;
}

.tab-header {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin-right: 40px;
  /*min-width: 85px;*/
  height: 37px;
  cursor: pointer;

  a {
    display: block;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    min-width: 85px;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    color: #555;
    border-bottom: solid 2px transparent;
    @include transition(border-color 100ms linear);
    white-space: nowrap;

    &:hover {
      color: $blue;
    }
  }

  &.selected a {
    border-bottom-color: $blue;
  }
}

.boxes {
  font-size: 0;

  .box {
    display: inline-block;
    vertical-align: true;
    font-size: 16px;
    @include box-shadow(0px 1px 0 0 #b7dddd, 0px 1px 0px 1px #E8F4F4);

    @include box-sizing(border-box);
    width: 506px;
    margin-right: 42px;
    margin-bottom: 20px;
    border: solid 1px $light-blue;

    &:nth-child(even) {
      margin-right: 0;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 18px;
      @include box-sizing(border-box);
    }

    &:hover {
      background-color: #eef4f4;
    }

    .url {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $blue;
      max-width: 780px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .timeago {
      font-weight: 300;
      font-size: 14px;
      font-style: italic;
      color: #6f6f6f;
    }

  }
}

.toolbar {
  font-family: 'Open Sans', sans-serif;

  .ib:last-child {
    h3 {
      margin-right: 0;
    }
  }

  top: -13px;

  h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 9px;
    margin-right: 40px;
  }

  p {
    font-weight: 300;
    font-size: 30px;
  }
}
