@import "compass/reset";

body {
  background-color: #333;
}

.container {
  width: 1055px;
  margin: 0 auto;
}

.view-container {
  min-height: 560px;
  background-color: #fff;
}

.pull-right {
  float: right;
}

.abs {
  position: absolute;
}

.abs-right {
  top: 0;
  right: 0;
}

.mb {
  margin-bottom: 20px;
}

.rel {
  position: relative;
}

.ib {
  display: inline-block;
  vertical-align: top;
}

.cb:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
}

input[type="text"]:disabled {
  background-color: #eee;
  opacity: 0.9;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  letter-spacing: -1px;
  color: #555;
  padding-bottom: 20px;
  padding-left: 3px;
  border-bottom: solid 1px #ddd;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  padding-left: 3px;
  border-bottom: solid 1px #ddd;
}

.round {
  border-radius: 50%;
}

.fs0 {
  font-size: 0;
}

.round-button {
  width: 31px;
  height: 31px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &.white-bg {
    background-color: white;
  }

  i {
    display: block;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}

.view {
  z-index: 0;
  position: relative;
  padding-top: 40px;
}

.under-hover:hover {
  text-decoration: underline;
}



table {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;

  thead {
    width: 100%;
    th {
      font-size: 22px;
      color: #666;
      padding-bottom: 20px;

      &:first-child {
        padding-left: 20px;
      }

      &.violations {
        width: 180px;
      }

    }
  }

  tbody {
    width: 100%;
    tr {
      &:nth-child(odd) {
        background-color: #f7f7f7;
      }

      td {
        height: 39px;
        font-size: 14px;

        a {
          overflow: hidden;
          max-width: 720px;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          color: $blue;
          padding-bottom: 2px;

          &:hover {
            text-decoration: underline;
          }
        }

        &:first-child {
          padding-left: 20px;
        }

        &.url {
          span {
            display: block;
            max-width: 780px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
}

input[type='text'], input[type='number'], input[type='numeric'], input[type='url'] {
  @include box-sizing(border-box);
  height: 30px;
  border: solid 1px #ddd;
  padding-left: 10px;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #999;
}

div.table {
  display: table;
  border-collapse: collapse;
}

div.tr {
  display: table-row;
}

div.td {
  display: table-cell;
}

.tab {
  position: relative;
  opacity: 1;
  visibility: visible;
  display: block !important;
  @include transition(opacity 200ms linear);
}

.tab.ng-hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.tabs {
  border-bottom: solid 1px #ddd;
}

.tab-header {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin-right: 40px;
  /*min-width: 85px;*/
  height: 37px;
  cursor: pointer;

  a {
    display: block;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    min-width: 85px;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    color: #555;
    border-bottom: solid 2px transparent;
    @include transition(border-color 100ms linear);
    white-space: nowrap;

    &:hover {
      color: $blue;
    }
  }

  &.selected a {
    border-bottom-color: $blue;
  }
}

.boxes {
  font-size: 0;

  .box {
    display: inline-block;
    vertical-align: true;
    font-size: 16px;
    @include box-shadow(0px 1px 0 0 #b7dddd, 0px 1px 0px 1px #E8F4F4);

    @include box-sizing(border-box);
    width: 506px;
    margin-right: 42px;
    margin-bottom: 20px;
    border: solid 1px $light-blue;

    &:nth-child(even) {
      margin-right: 0;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 18px;
      @include box-sizing(border-box);
    }

    &:hover {
      background-color: #eef4f4;
    }

    .url {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $blue;
      max-width: 780px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .timeago {
      font-weight: 300;
      font-size: 14px;
      font-style: italic;
      color: #6f6f6f;
    }

  }
}

.toolbar {
  font-family: 'Open Sans', sans-serif;

  .ib:last-child {
    h3 {
      margin-right: 0;
    }
  }

  top: -13px;

  h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 9px;
    margin-right: 40px;
  }

  p {
    font-weight: 300;
    font-size: 30px;
  }
}

.ellipsis {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-wrapper:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: $grey transparent transparent transparent;
  line-height: 0px;
  position: relative;
  top: 20px;
  margin-left: 276px;
}

.dropdown-wrapper {

  font-family: 'Open Sans', sans-serif;
  right: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  outline: none;
  width: 300px;
  cursor: pointer;
  border: solid 1px $light-grey;
  color: $grey;
  display: inline-block;
  margin-top: -25px;

  .selected {
    height: 28px;
    padding: 7px;
    position: absolute;
    color: $grey;
    z-index: 1;
  }

  &.active {
    .dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .dropdown {
    text-transform: none;
    z-index: 2;
    position: absolute;
    background-color: white;
    transition: all 0.1s linear;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    width: 300px;
    margin-left: -1px;
    margin-top: 27px;

    li {
      &:first {
        border-top: none;
      }

      margin-top: -1px;
      border: solid 1px $light-grey;

      &:hover {
        background-color: #eee;
        a {
          color: $blue;
        }
      }
      a {
        color: $grey;
        display: inline-block;
        width: 100%;
        line-height: 30px;
        margin-left: 5px;
      }
    }
  }
}

.dropdown-clear {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-size: 24px;
  line-height: 30px;
  color: $blue;
  @include transition(all 75ms linear);
  background: none;
  height: auto;
  width: auto;
  vertical-align: top;
  text-align: center;
  margin: 0 3px;
  padding: 0;

  &:hover, &:focus {
    font-weight: bold;
    color: $color3;
    outline: 0;
  }
}

.breadcrumbs {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $mid-grey;
  line-height: 20px;
  padding: 5px;
  a {
    color: $blue;
  }
  li {

    &:after {
      margin: 0 8px 0 5px;
      content: '>';
      color: grey;
    }

    &.active {
      &:after {
        content: '';
        margin: 0;
        display: none;
      }
    }

  }
}
