@import "compass/reset";

.container {
  width: 1055px;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.ib {
  display: inline-block;
  vertical-align: top;
}

.cb:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  letter-spacing: -1px;
  color: #555;
  padding-bottom: 20px;
  padding-left: 3px;
  border-bottom: solid 1px #ddd;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  padding-left: 3px;
  border-bottom: solid 1px #ddd;
}

.round {
  border-radius: 50%;
}

.fs0 {
  font-size: 0;
}

.round-button {
  width: 31px;
  height: 31px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  i {
    display: block;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}

.view {
  z-index: 0;
  position: relative;
  margin-top: 40px;
}

.under-hover:hover {
  text-decoration: underline;
}

table {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;

  thead {
    width: 100%;
    th {
      font-size: 22px;
      color: #666;
      padding-bottom: 20px;

      &:first-child {
        padding-left: 20px;
      }
    }
  }

  tbody {
    width: 100%;
    tr {
      &:nth-child(odd) {
        background-color: #f7f7f7;
      }

      td {
        height: 39px;
        font-size: 14px;

        a {
          color: $blue;

          &:hover {
            text-decoration: underline;
          }
        }

        &:first-child {
          padding-left: 20px;
        }
      }
    }
  }
}

input[type='text'] {
  @include box-sizing(border-box);
  height: 30px;
  border: solid 1px #ddd;
  padding-left: 10px;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #999;
}

div.table {
  display: table;
  border-collapse: collapse;
}

div.tr {
  display: table-row;
}

div.td {
  display: table-cell;
}

.tab {
  position: relative;
  opacity: 1;
  visibility: visible;
  display: block !important;
  @include transition(opacity 200ms linear);
}

.tab.ng-hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.tabs {
  /*margin-bottom: 31px;*/
  border-bottom: solid 1px #ddd;
}

.tab-header {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #555;
  margin-right: 40px;
  min-width: 85px;
  height: 37px;
  cursor: pointer;

  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: solid 2px transparent;
    @include transition(border-color 100ms linear);
  }

  &.selected a {
    border-bottom-color: $blue;
  }
}

