$light-blue: #cae2e3;
$blue: #318d90;

.blue {
  color: $blue;
}

.blue-border {
  border-color: $blue;
}

.blue-bg {
  background-color: $blue;
}

.light-blue {
  color: $light-blue;
}

.light-blue-border {
  border-color: $light-blue;
}

.light-blue-bg {
  background-color: $light-blue;
}
