.domains-view {
  .domains-container {
    margin-top: 50px;
    overflow: hidden;
    max-height: 300px;
    @include transition(max-height 500ms ease-in-out);

    .inactive {
      box-shadow: 0 0;
      font-style: italic;
      opacity: 0.6;

      h2 {
        color: $grey;
      }
    }
  }

  .show-domains, .hide-domains {
    display: block;
    cursor: pointer;

    .text {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 30px;
      margin-top: 4px;
      margin-right: 10px;
    }

  }

  .show-domains .icon i {
    @include common-sprite(arrow-down, $dimensions: true);
  }

  .hide-domains {
    .icon {
      i {
        top: 10px;
        left: 10px;
        @include common-sprite(arrow-up, $dimensions: true);
      }
    }
  }

  .domains {
    li {
      @include transition(background-color 100ms linear);

      .stats {
        margin-top: 23px;
        font-size: 0;
      }

      .stat {
        font-family: 'Open Sans', sans-serif;
        width: 100px;
        margin-right: 18px;

        &:nth-child(4) {
          margin-right: 0;
        }

        .label {
          font-size: 14px;
          font-weight: 700;
          color: #989898;
          margin-bottom: 3px;
        }

        .value {
          font-size: 20px;
          font-weight: 100;
          color: #6f6f6f;
        }
      }
    }
  }

  .violations-container {
    position: relative;
    margin-top: 32px;

    .toolbar {
      position: relative;
    }

    a {
      cursor: pointer;
    }

    .options {
      position: absolute;
      right: 0;
      top: 0;

      .option {
        margin-right: 31px;

        .label {
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 400;
          padding-left: 11px;
          padding-top: 11px;
        }

        &.search {
          margin-right: 0;
        }
      }

      .groups {
        i {
          top: 9px;
          left: 9px;
          @include common-sprite(groups, $dimensions: true);
        }

        &.selected, &:hover {
          .round-button {
            background-color: $blue;
          }

          i {
            @include common-sprite(groups-selected, $dimensions: true);
          }
        }
      }

      .frequency {
        i {
          top: 10px;
          left: 9px;
          @include common-sprite(frequent, $dimensions: true);
        }

        &.selected, &:hover {
          .round-button {
            background-color: $blue;
          }

          i {
            @include common-sprite(frequent-selected, $dimensions: true);
          }
        }
      }

      .search {
        position: relative;

        input {
          @include box-sizing(border-box);
          width: 335px;
          height: 30px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 400;
          padding-left: 14px;
          outline: none;
        }

        i {
          position: absolute;
          top: 9px;
          right: 10px;
          @include common-sprite(search-icon, $dimensions: true);
        }
      }
    }

    .frequency-container, .groups-container {
      width: 100%;
      opacity: 1;
      visibility: visible;
      margin-top: 30px;
      margin-bottom: 40px;
      height: auto;
      @include transition(all 250ms linear);

      &.hidden {
        position: absolute;
        top: 45px;
        left: 0;
        opacity: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }

    .most-frequent, .least-frequent {
      li {
        width: auto;
        margin-bottom: 22px;

        a {
          display: block;

          &:hover {
            .name {
              color: $blue;
            }
          }
        }

        .number, .name {
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          font-size: 20px;
        }

        .number {
          font-weight: 700;
          width: 45px;
        }
      }
    }

    .most-frequent {
      width: 850px;
      margin: 0 auto;

      ul {
        @include column-count(2);
      }
    }

    .least-frequent {
      width: auto;
      margin: 0 auto;

      ul {
        margin-top: 49px;
        @include column-count(3);
      }

      li {
        .number, .name {
          font-size: 14px;
        }
      }
    }

    .groups-container {
      .group {
        @include column-count(3);

        > li {
          border-width: 0;
          border-style: none;
          border-left-width: 1px;
          border-left-style: solid;
          padding-left: 20px;
          margin-bottom: 42px;
          display: inline-block;
          vertical-align: top;

          &:last-child {
            margin-bottom: 0;
          }
        }

        h3 {
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          font-size: 24px;
          margin-bottom: 16px;
        }

        .group-violations {
          > li {
            margin-bottom: 6px;

            a {
              display: block;

              &:hover {
                .name {
                  color: $blue;
                }
              }
            }

            .name {
              font-family: 'Open Sans', sans-serif;
              font-weight: 300;
              font-size: 14px;
              line-height: 27px;
            }
          }
        }

      }
    }

  }
}
