footer {
  position: relative;
  height: 50px;
  background-color: #333;
  margin-top: 50px;

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 20px;

    &.login {
      margin-left: 20px;
    }
  }

  .ws-opened {
    color: $green;
  }
  .ws-closed {
    color: $color3;
  }
}
