.header-add-page {
    display: inline-block;
    vertical-align: top;

    .add-page-button {
        display: block;
        width: 49px;
        height: 50px;

        i {
          display: block;
          margin-top: 16px;
          margin-left: 24px;
          @include common-sprite(add, $dimensions: true);
        }
    }
}
