header {
  position: relative;
  height: 50px;
  background-color: #333;
  font-size: 0;
  z-index: 700;

  .logo {
    display: inline-block;
    vertical-align: top;

    padding: 16px 0 14px;

    div {
      display: inline-block;
      vertical-align: top;

      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      font-size: 18px;
      letter-spacing: 0.5px;
      color: #fff;
      text-decoration: none;
    }

    span {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
      margin-top: -5px;

      @include common-sprite(logo, $dimensions: true);
    }
  }

  .toolbar {
    float: right;
  }

  navbar {
    display: inline-block;
    vertical-align: top;
    margin-right: 33px;

    li {
      display: inline-block;
      vertical-align: top;
      padding-top: 18px;

      a {
        display: block;
        padding: 0 29px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #f4f4f4;
        text-decoration: none;
        border-right: solid 1px #666;

        &:hover {
          text-decoration: underline;
        }
      }

      &:first-child {
        a {
          padding-left: 0;
        }
      }

      &:last-child {
        a {
          padding-right: 0;
          border-right: 0;
        }
      }
    }
  }
}
