.header-search {
    display: inline-block;
    vertical-align: top;
    margin-right: 108px;

    .search-button {
        display: block;
        width: 65px;
        height: 50px;

        i {
          display: block;
          margin-top: 16px;
          margin-left: 23px;
          @include common-sprite(search, $dimensions: true);
        }
    }
}
