.horizontal-bar {
  position: relative;
  width: 100%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;

  .value {
    position: relative;
    z-index: 1;
    @include box-sizing(border-box);
    @include transition(width 400ms ease-out);

    height: 100%;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    background-color: $blue;
    color: $light-grey;
    text-align: right;
    padding-right: 10px;

    &.value-zero {
      padding-right: 0px;
    }
  }

  .value-label {
    white-space: nowrap;
    top: -40px;
    @include transition(right 400ms ease-in);
  }

  .total-label {
    white-space: nowrap;
    top: -24px;
  }

  .value-label, .total-label {
    position: absolute;
    right: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #888;
  }

  .total {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: $blue;
  }
}
