.pager {
  font-size: 0;
  text-align: center;
  margin: 30px 0;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  .previous, .pages, .page, .next {
    display: inline-block;
    vertical-align: top;
  }

  .page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: $blue;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    margin-right: 5px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    &.current {
      font-weight: 700;
    }
  }

  .previous, .next {
    position: relative;
    width: 30px;
    height: 30px;
    border: solid 1px $blue;
    border-radius: 50%;
    margin-top: -4px;
    cursor: pointer;

    i {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .previous{
    margin-right: 25px;

    i {
      top: 10px;
      left: 9px;
      @include common-sprite(arrow-left, $dimensions: true);
    }
  }

  .next {
    margin-left: 25px;

    i {
      top: 10px;
      left: 10px;
      @include common-sprite(arrow-right, $dimensions: true);
    }
  }
}
