.review-view {

  h2 {
    a {
      display: block;
      width: 100%;
      height: 33px;
      overflow: hidden;
      white-space: nowrap;

      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 30px;

      text-overflow: ellipsis;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .info {
    overflow: hidden;
    margin-top: 36px;
    font-family: 'Open Sans', sans-serif;

    > .violations {
      margin-right: 60px;

      .value {
        text-align: left;
      }
    }

    .title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 8px;
    }

    .value {
      font-weight: 300;
      font-size: 30px;
      text-align: center;
    }

    .review-count {
      padding-right: 20px;
      border-right: solid 1px $light-grey;
    }

    .reviews {
      .violations {
        .first {
          border-bottom: solid 1px $light-grey;
          .title {
            padding: 4px 50px 8px 20px;
          }
        }

        .title {
          font-weight: 700;
          font-size: 16px;
          color: #888;
          padding: 9px 50px 2px 20px;
        }

        .value {
          font-weight: 400;
          font-size: 18px;
          text-align: center;
          padding-right: 20px;

          a {
            color: $grey;
            width: 100%;
            height: 100%;
            display: block;

            &:hover {
              opacity: 0.9;
            }
          }
        }

        .time {
          font-size: 18px;
        }
      }
    }
  }

  .review-data {
    margin-top: 50px;

    .chart-container {
      width: 354px;
      height: 354px;
      margin-left: 155px;
      margin-top: 70px;
      margin-right: 142px;

      .donut-label {
        text-transform: lowercase;
      }
    }

    .details {
      margin-top: 72px;

      li {
        font-family: 'Open Sans', sans-serif;

        h4 {
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 5px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 44px;
        }
      }
    }

    .categories {
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 40px;

      .category {
        margin-top: 55px;

        h3 {
          font-weight: 700;
          font-size: 24px;
          padding-bottom: 22px;
          margin-bottom: 33px;
          border-bottom: solid 1px $light-grey;
        }

        h4 {
          font-weight: 700;
          font-size: 16px;
          color: #555;
          margin-bottom: 9px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
        }

        a {
          color: $blue;

          &:hover {
            opacity: 0.9;
          }
        }

      }
    }

    .fact-category {
      margin-bottom: 40px;

      h3 {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        margin-top: 60px;
        border-bottom: solid 1px $light-grey;
        color: #606060;
        text-transform: uppercase;
      }

      th {
        color: $dark-grey;
      }

      .title {
        font-size: 14px;
        width: 220px
      }

      .fact-value {
        width: 800px;
        font-family: 'Open Sans', sans-serif;

        .content {
          padding: 10px 0;
          max-height: 325px;
          overflow-y: auto;
        }

        .images {

          li {
            width: 150px;
            height: 116px;
            margin: 5px;
            text-align: center;
            background: $light-grey image-url('../images/img-bg.png');

            a {
              display: table;
              width: 100%;
              height: 100%;
            }

            .img-container {
              display: table-cell;
              vertical-align: middle;
            }

            img {
              max-width: 150px;
              max-height: 116px;
              vertical-align: middle;
            }
          }
        }

        .url {
          margin: 2px 0 2px;
          font-size: 12px;
          line-height: 15px;
          color: $blue;
          max-width: 770px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .unit-values {
          white-space: nowrap;
          padding-right: 20px;
        }

        .content-values {
          word-break: break-all;
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }

      }
    }
  }

}
