.review-view {

  h2 {
    a {
      display: block;
      width: 100%;
      height: 33px;
      overflow: hidden;
      white-space: nowrap;

      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 30px;

      text-overflow: ellipsis;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .info {
    overflow: hidden;
    margin-top: 36px;
    font-family: 'Open Sans', sans-serif;

    > .violations {
      margin-right: 60px;

      .value {
        text-align: left;
      }
    }

    .title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 8px;
    }

    .value {
      font-weight: 300;
      font-size: 30px;
      text-align: center;
    }

    .review-count {
      padding-right: 20px;
      border-right: solid 1px $light-grey;
    }

    .reviews {
      .violations {
        .first {
          border-bottom: solid 1px $light-grey;
          .title {
            padding: 4px 50px 8px 20px;
          }
        }

        .title {
          font-weight: 700;
          font-size: 16px;
          color: #888;
          padding: 9px 50px 2px 20px;
        }

        .value {
          font-weight: 400;
          font-size: 18px;
          text-align: center;
          padding-right: 20px;

          a {
            color: $grey;
            width: 100%;
            height: 100%;
            display: block;

            &:hover {
              opacity: 0.9;
            }
          }
        }

        .time {
          font-size: 18px;
        }
      }
    }
  }

  .review-data {
    margin-top: 50px;

    .chart-container {
      width: 354px;
      height: 354px;
      margin-left: 155px;
      margin-top: 70px;
      margin-right: 142px;

      .donut-label {
        text-transform: lowercase;
      }
    }

    .details {
      margin-top: 72px;

      li {
        font-family: 'Open Sans', sans-serif;

        h4 {
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 5px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 44px;
        }
      }
    }

  }

}
