.violation-view {
  font-family: 'Open Sans', sans-serif;

  h2 {
    font-weight: 300;
    font-size: 42px;
    color: #888;
    border: none;
    padding-bottom: 0;
  }

  .header {
    padding-bottom: 38px;
    border-bottom: solid 1px $light-grey;
    margin-bottom: 25px;
  }

  .domains {
    margin-bottom: 70px;

    li {
      margin-bottom: 10px;
    }

    h3 {
      width: 340px;
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      margin-right: 20px;
      letter-spacing: -1px;
    }

    p {
      width: 695px;
    }
  }

  .chart-container {
    margin-left: 155px;
    margin-right: 142px;
    margin-bottom: 70px;

    .donut {

    }

    .donut-label {
      max-height: 30px!important;
      text-transform: lowercase;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  .details {
    margin: 30px 0;

    li {
      font-family: 'Open Sans', sans-serif;

      h4 {
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 6px;
        max-width: 400px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 17px;
      }
    }
  }

  .page-reviews-container {
    .header {
      padding-bottom: 12px;
      margin-bottom: 30px;
      border-width: 0;
      border-style: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .title {
      font-family: 'Open Sans', sans-serif;
      font-size: 38px;
      font-weight: 300;
      color: #555;

      .percentage {
        font-size: 28px;
        color: #999;
      }
    }

    .search {
      top: 12px;
      right: 0;

      .directory {
        margin-top: -3px;

        input {
          width: 330px;
          outline: none;
        }

        i {
          position: absolute;
          top: 9px;
          right: 9px;
          @include common-sprite(search-icon, $dimensions: true);
        }
      }

      .domain {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #9b9b9b;
        margin-right: 15px;
      }
    }
  }

}
