.violation-view {
  font-family: 'Open Sans', sans-serif;

  h2 {
    font-weight: 300;
    font-size: 42px;
    color: #888;
    border: none;
    padding-bottom: 0;
    max-width: 850px;
  }

  .header {
    padding-bottom: 38px;
    border-bottom: solid 1px $light-grey;
    margin-bottom: 25px;

    .description {
      margin-top: 25px;
      line-height: 22px;
      display: block;
    }
  }

  .tooltip {
    vertical-align: middle;
  }

  .domains {
    margin-bottom: 70px;

    li {
      margin-bottom: 10px;
    }

    h3 {
      width: 340px;
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      margin-right: 20px;
      letter-spacing: -1px;
    }

    p {
      width: 695px;
    }

    a {
      color: inherit;
    }

    .tooltip {
      padding: 0 6px;
    }
  }

  .chart-container {
    margin-left: 155px;
    margin-right: 142px;
    margin-bottom: 70px;

    .donut {

    }

    .donut-label {
      max-height: 30px!important;
      text-transform: lowercase;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  .details {
    margin: 20px 0;

    li {
      font-family: 'Open Sans', sans-serif;

      h4 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 5px;
        max-width: 400px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 13px;
      }
    }

    .tooltip {
      padding: 0 5px;
    }
  }

  .page-reviews-container {
    .header {
      padding-bottom: 12px;
      margin-bottom: 30px;
      border-width: 0;
      border-style: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .title {
      font-family: 'Open Sans', sans-serif;
      font-size: 38px;
      font-weight: 300;
      color: #555;

      .percentage {
        font-size: 28px;
        color: #999;
      }
    }

    td.anchor a i {
      @include common-sprite(anchor, $dimensions: true);
      display: inline-block;
      height: 14px;
      width: 14px;
      vertical-align: middle;
    }

    .search {
      top: 12px;
      right: 0;

      .directory {
        margin-top: -3px;

        input {
          width: 330px;
          outline: none;
        }

        i {
          position: absolute;
          top: 9px;
          right: 9px;
          @include common-sprite(search-icon, $dimensions: true);
        }
      }

      .domain {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #9b9b9b;
        margin-right: 15px;
      }

      .dropdown-wrapper, .slash {
        height: 30px;
        margin-top: -3px;
        margin-right: 5px;

        .dropdown {
          margin-top: 29px;
        }
      }

      .slash {
        line-height: 30px;
        font-size: 18px;
      }

    }
  }

}

.qtip-violations {
  max-width: none;
}

.qtip-violations ul {
  margin-top: 0;
}
