@import "compass";

body {
  font-size: 0;
}

.growl {
  z-index: 9999999;
  font-size: 12px;
}

.sidebar {
  box-sizing: border-box;
  padding-left: 20px;

  display: inline-block;
  vertical-align: top;
  /*background: url(../images/stressed_linen.png) 0 0;*/
  width: 20%;
  font-size: 12px;
}

.main-area {
  min-height: 550px;
  position: relative;
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 12px;
  padding: 20px;
  padding-top: 0;
}

.alertify, .alertify-logs {
  font-size: 16px;
}

.view-animate {

  &.ng-enter, &.ng-leave {
      @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms);
  }

  &.ng-enter {
    position: absolute;
    opacity: 0;
    top: -200%;
    left: 20px;
    right: 20px;

    &.ng-enter-active {
      opacity: 1;
      top: 0;
      position: absolute;
    }
  }

  &.ng-leave{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;

    &.ng-leave-active {
      top: -200%;
      opacity: 0;
      position: absolute;
    }
  }
}

.menu {
  font-size: 15px;
}

#footer {
  margin-top: 40px;
  background-color: #333;
  height: 200px;
  font-size: 0;

  .logo {
    display: inline-block;
    vertical-align: top;

    font-size: 12px;
    background: url('../images/detective_small.png') 0 0 no-repeat;
    width: 128px;
    height: 128px;
    opacity: 0.3;
    margin-top: 36px;
    margin-right: 15px;
  }

  .brand {
    display: inline-block;
    vertical-align: top;
    font-size: 42px;
    color: #dedede;
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: solid 1px #dedede;
    margin-top: 22px;
    padding-right: 60px;
    margin-right: 60px;
  }

  .text {
    display: inline-block;
    vertical-align: top;

    font-size: 12px;
    margin-top: 53px;
    color: #fff;

    a {
      color: #dedede;

      &:hover {
        color: #fff;
      }
    }
  }
}
