@import "compass";

body {
  font-size: 0;
}

.sidebar {
  box-sizing: border-box;
  padding-left: 20px;

  display: inline-block;
  vertical-align: top;
  /*background: url(../images/stressed_linen.png) 0 0;*/
  width: 20%;
  font-size: 12px;
}

.main-area {
  position: relative;
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 12px;
  padding: 20px;
  padding-top: 0;
}

.alertify, .alertify-logs {
  font-size: 16px;
}

.view-animate {

  &.ng-enter, &.ng-leave {
      @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms);
  }

  &.ng-enter {
    position: absolute;
    opacity: 0;
    top: -200%;
    left: 20px;
    right: 20px;

    &.ng-enter-active {
      opacity: 1;
      top: 0;
      position: absolute;
    }
  }

  &.ng-leave{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;

    &.ng-leave-active {
      top: -200%;
      opacity: 0;
      position: absolute;
    }
  }
}
