.domain-details-view {
  padding-left: 20px;

  #violation-points-chart {
    margin-top: 20px;

    svg {
      height: 350px;
    }
  }

  #violation-count-chart {
    svg {
      height: 150px;
    }
  }

  .reviews {
    a {
      display: block;
      width: 100%;
    }

    .url {
      width: 70%;
    }

    .violations {
      width: 15%;
      text-align: center;
    }

    .finished-at {
      width: 15%;
      text-align: center;
    }
  }

  .filters {
    padding-right: 0;
  }

  .page-reviews-badge {
    font-size: 26px;
  }

  .page-reviews-header {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
