.domain-details-view {
  padding-left: 20px;

  #violation-points-chart {
    margin-top: 20px;

    svg {
      height: 350px;
    }
  }

  #violation-count-chart {
    svg {
      height: 150px;
    }
  }

  .results {
    height: 376px;
  }

  .reviews {

    a {
      display: block;
      max-width: 600px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .url {
      width: 70%;
    }

    .violations {
      width: 15%;
      text-align: center;
    }

    .finished-at {
      width: 15%;
      text-align: center;
    }
  }

  .filters {
    padding-right: 0;
  }

  .page-reviews-badge {
    font-size: 23px;
    padding: 5px 7px;
  }

  .page-reviews-header {
    margin-bottom: 20px;
    margin-top: 0;
  }

  .review-pager {
    display: block;
    margin-right: 2px;
    a {
      cursor: pointer;
    }

    .active {
      a {
        cursor: default;
      }
    }
  }

  .without-review {
    margin-top: 80px;
  }
}
