@import "compass";

.main-view {
  margin-top: 30px;
  padding-left: 20px;
}

.pages-view {
  margin-top: 20px;
}

.last-violations {
  a {
    text-decoration: none;
    color: #333;

    &:hover {
      .panel {
        opacity: 0.9;
      }
    }
  }

  > .panel-body {
    margin-bottom: -20px;
  }

  .panel {
    @include transition(all 100ms linear);
    .panel-body {
      min-height: 100px;
    }
  }

  .panel-heading {
    h3 {
      width: 100%;
      padding-bottom: 2px;
      margin-bottom: -2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .glyphicon {
      margin-right: 5px;
    }
  }

  .panel-footer {
    text-align: right;
    font-size: 9px;

    .glyphicon {
      font-size: 11px;
      line-height: 10px;
      margin-right: 2px;
    }
  }
}

.add-page {
  .input-group.has-error {
    margin-top: -1px;

    .input-group-addon {
      height: 68px;
    }

    .input-lg {
      margin-top: 1px;
    }
  }
}
