@import "compass";

.report-view {
  width: 100%;
  padding-left: 20px;

  .violations {
    a {
      text-decoration: none;
      color: #333;

      &:hover {
        .panel {
          opacity: 0.9;
        }
      }
    }

    > .panel-body {
      margin-bottom: -20px;
    }

    .panel {
      @include transition(all 100ms linear);
      .panel-body {
        min-height: 100px;
      }
    }

    .panel-heading {
      h3 {
        width: 100%;
        padding-bottom: 2px;
        margin-bottom: -2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .glyphicon {
        margin-right: 5px;
      }
    }
  }
}

.stats {
  font-size: 12px;

  .title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
  }

  .subtitle {
    text-align: center;
    font-size: 12px;
  }
}

#chart {
  margin: 40px 0;
  height: 400px;
}

.see-also {

  tr {
    cursor: pointer;
  }

  .pager {
    margin: -25px auto 0;
  }

  .filters {
    margin-right: -15px;

    .glyphicon {
      font-size: 16px;
    }
  }
}

.fact-row {
  .fact-col {
    @include inline-block(top);
    width: 12%;

    .fact-value {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }

    .fact-description {
      color: #999;
      font-size: 11px;
      text-align: center;
      text-transform: lowercase;
    }
  }
}

.fact {
  margin-top: 20px;
  font-size: 14px;

  .fact-value {
    @include inline-block(top);
  }

  .fact-description {
    color: #999;
    margin-right: 5px;
    @include inline-block(top);
  }
}

.fact-table {
  margin-top: 20px;

  .panel-body {
    margin-bottom: -20px;
  }
}

#reportTabs {
  a {
    cursor: pointer;
  }
}

#reportTabsContent {
  border: solid 1px #ddd;
  border-top: 0;
  padding: 20px;

  .current-report, .see-also {
    > h3 {
      margin-top: 0;
    }
  }
}
