.logo a {
  text-decoration: none;
}

.current-jobs {
  tr {
    cursor: pointer;
  }

  .position {
    text-align: center;
  }

  .url {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.worker-count {
  vertical-align: top;
  color: #007fff;
  background-color: #fff;
  margin-left: 2px;
}

#workers-chart svg {
  height: 200px;
  width: 200px;
}

.subtitle {
  font-size: 0;
  margin-bottom: -10px;

  .square {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: #007fff;
  }

  .text {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
  }
}

.common-violations {
  margin-top: 30px;

  .badge {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 50px;
    height: 20px;
    right: 15px;
  }

  .text {
    max-width: 110px;
    display: block;
  }
}

.search {
  width: 400px;
  margin-right: 80px;
  margin-top: 10px;

  .search-button {
    border: solid 1px #06c !important;
    background-color: #06c !important;

    &:hover {
      background-color: #006ddb !important;
    }
  }
}
