.worker {
  .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 270px;
  }

  .panel-body {
    min-height: 150px;

    a {
      max-height: 86px;
      display: block;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }

  .idle {
    background: #CCC;
  }

  .body{
    overflow-wrap: break-word;
  }

  .lastping {
    color: #BBB;
    font-size: 10px;
  }

  .panel-body {
  }
}
