@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\000033}}
body {
  font-size: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\000037}}
.growl {
  z-index: 9999999;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000312}}
.sidebar {
  box-sizing: border-box;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  /*background: url(../images/stressed_linen.png) 0 0;*/
  width: 20%;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000323}}
.main-area {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 12px;
  padding: 20px;
  padding-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000334}}
.alertify, .alertify-logs {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000340}}
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-delay: 500ms;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000344}}
.view-animate.ng-enter {
  position: absolute;
  opacity: 0;
  top: -200%;
  left: 20px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000351}}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000358}}
.view-animate.ng-leave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000365}}
.view-animate.ng-leave.ng-leave-active {
  top: -200%;
  opacity: 0;
  position: absolute;
}
