@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\000033}}
body {
  font-size: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\000037}}
.growl {
  z-index: 9999999;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000312}}
.sidebar {
  box-sizing: border-box;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  /*background: url(../images/stressed_linen.png) 0 0;*/
  width: 20%;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000323}}
.main-area {
  min-height: 550px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 12px;
  padding: 20px;
  padding-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000335}}
.alertify, .alertify-logs {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000341}}
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-delay: 500ms;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000345}}
.view-animate.ng-enter {
  position: absolute;
  opacity: 0;
  top: -200%;
  left: 20px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000352}}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000359}}
.view-animate.ng-leave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000366}}
.view-animate.ng-leave.ng-leave-active {
  top: -200%;
  opacity: 0;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000374}}
.menu {
  font-size: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000378}}
#footer {
  margin-top: 40px;
  background-color: #333;
  height: 200px;
  font-size: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000384}}
#footer .logo {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  background: url("../images/detective_small.png") 0 0 no-repeat;
  width: 128px;
  height: 128px;
  opacity: 0.3;
  margin-top: 36px;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\0000397}}
#footer .brand {
  display: inline-block;
  vertical-align: top;
  font-size: 42px;
  color: #dedede;
  padding-top: 50px;
  padding-bottom: 50px;
  border-right: solid 1px #dedede;
  margin-top: 22px;
  padding-right: 60px;
  margin-right: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\00003110}}
#footer .text {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  margin-top: 70px;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\00003118}}
#footer .text a {
  color: #dedede;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/base\.scss}line{font-family:\00003121}}
#footer .text a:hover {
  color: #fff;
}
