@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\000033}}
.main-view {
  margin-top: 30px;
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\000038}}
.pages-view {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000313}}
.last-reviews a {
  text-decoration: none;
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000318}}
.last-reviews a:hover .panel {
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000324}}
.last-reviews > .panel-body {
  margin-bottom: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000328}}
.last-reviews .panel {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000330}}
.last-reviews .panel .panel-body {
  min-height: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000336}}
.last-reviews .panel-heading h3 {
  width: 100%;
  padding-bottom: 2px;
  margin-bottom: -2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000345}}
.last-reviews .panel-heading .glyphicon {
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000350}}
.last-reviews .panel-footer {
  text-align: right;
  font-size: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000354}}
.last-reviews .panel-footer .glyphicon {
  font-size: 11px;
  line-height: 10px;
  margin-right: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000363}}
.add-page .input-group.has-error {
  margin-top: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000366}}
.add-page .input-group.has-error .input-group-addon {
  height: 68px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000370}}
.add-page .input-group.has-error .input-lg {
  margin-top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000376}}
.warnings {
  margin-top: 15px;
  font-size: 12px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000383}}
.warnings.turns-out {
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000386}}
.warnings.turns-out .turns-out-warning {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000391}}
.warnings.invalid {
  height: 77px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000394}}
.warnings.invalid .invalid-warning {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000399}}
.warnings .warning {
  display: none;
}
