@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\000033}}
.main-view {
  margin-top: 30px;
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\000038}}
.pages-view {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000313}}
.last-violations a {
  text-decoration: none;
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000318}}
.last-violations a:hover .panel {
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000324}}
.last-violations > .panel-body {
  margin-bottom: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000328}}
.last-violations .panel {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000330}}
.last-violations .panel .panel-body {
  min-height: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000336}}
.last-violations .panel-heading h3 {
  width: 100%;
  padding-bottom: 2px;
  margin-bottom: -2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000345}}
.last-violations .panel-heading .glyphicon {
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000350}}
.last-violations .panel-footer {
  text-align: right;
  font-size: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/main\.scss}line{font-family:\0000354}}
.last-violations .panel-footer .glyphicon {
  font-size: 11px;
  line-height: 10px;
  margin-right: 2px;
}
