@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\000033}}
.report-view {
  width: 100%;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\000037}}
.report-view h1 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 47px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000315}}
.report-view .page-reviews-badge {
  font-size: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000319}}
.report-view #report-violation-points-chart {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000322}}
.report-view #report-violation-points-chart svg {
  height: 350px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000328}}
.report-view #report-violation-count-chart svg {
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000334}}
.report-view .violations ul {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000337}}
.report-view .violations ul li {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000340}}
.report-view .violations ul li:first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000346}}
.report-view .violations a {
  text-decoration: none;
  /*color: #333;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000351}}
.report-view .violations a:hover .panel {
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000357}}
.report-view .violations .panel {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000359}}
.report-view .violations .panel .panel-body {
  min-height: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000367}}
.stats {
  font-size: 12px;
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000371}}
.stats .title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000377}}
.stats .subtitle {
  text-align: center;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000383}}
#chart {
  margin: 40px 0;
  height: 400px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000390}}
.see-also tr {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000394}}
.see-also .pager {
  margin: -25px auto 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\0000398}}
.see-also .filters {
  margin-right: -15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003101}}
.see-also .filters .glyphicon {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003108}}
.fact-row .fact-col {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 12%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003112}}
.fact-row .fact-col .fact-value {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003118}}
.fact-row .fact-col .fact-description {
  color: #999;
  font-size: 11px;
  text-align: center;
  text-transform: lowercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003127}}
.fact {
  margin-top: 20px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003131}}
.fact .fact-value {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003135}}
.fact .fact-description {
  color: #999;
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003142}}
.fact-table {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003145}}
.fact-table .panel-body {
  margin-bottom: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003151}}
#reportTabs a {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003156}}
#reportTabsContent {
  border: solid 1px #ddd;
  border-top: 0;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/report\.scss}line{font-family:\00003162}}
#reportTabsContent .current-report > h3, #reportTabsContent .see-also > h3 {
  margin-top: 0;
}
