@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\000032}}
.current-jobs tr {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\000036}}
.current-jobs .position {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\0000310}}
.current-jobs .url {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\0000318}}
.worker-count {
  vertical-align: top;
  color: #007fff;
  background-color: #fff;
  margin-left: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\0000325}}
.subtitle {
  font-size: 0;
  margin-bottom: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\0000329}}
.subtitle .square {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: #007fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\0000338}}
.subtitle .text {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\0000346}}
.common-violations .badge {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 50px;
  height: 20px;
  right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/sidebar\.scss}line{font-family:\0000355}}
.common-violations .text {
  max-width: 110px;
  display: block;
}
