@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/violation\.scss}line{font-family:\000033}}
.violation-details-view .reviews a {
  display: block;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/violation\.scss}line{font-family:\0000312}}
.violation-details-view .reviews .url {
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/violation\.scss}line{font-family:\0000316}}
.violation-details-view .reviews .violations {
  width: 15%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/marcelo\.vieira\/work\/holmes-web\/app\/scss\/violation\.scss}line{font-family:\0000321}}
.violation-details-view .reviews .finished-at {
  width: 15%;
  text-align: center;
}
