@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/workers\.scss}line{font-family:\000032}}
.worker .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 270px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/workers\.scss}line{font-family:\000039}}
.worker .panel-body {
  min-height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/workers\.scss}line{font-family:\0000312}}
.worker .panel-body a {
  max-height: 86px;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/workers\.scss}line{font-family:\0000320}}
.worker .idle {
  background: #CCC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/workers\.scss}line{font-family:\0000324}}
.worker .body {
  overflow-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/heynemann\/Dropbox\/dev\/holmes-web\/app\/scss\/workers\.scss}line{font-family:\0000328}}
.worker .lastping {
  color: #BBB;
  font-size: 10px;
}
