<div class="domain-details-view">
  <h1>{{ model.domainDetails.name }}</h1>

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/domains/">Domains</a></li>
    <li class="active">{{ model.domainDetails.name }}</li>
  </ol>

  <div class="row stats">
    <div class="col-lg-6">
      <div class="title text-primary">{{ model.domainDetails.pageCount | number }}</div>
      <div class="subtitle">pages</div>
    </div>
    <div class="col-lg-6">
      <div class="title text-primary">{{ model.domainDetails.violationCount | number }}</div>
      <div class="subtitle">violations</div>
    </div>
  </div>

  <div class="requests-info">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="status-code">Status Code</th>
          <th class="parcentage-of-requests">% of Requests</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="model.domainDetails.statusCodeInfo">
          <td colspan="2">No reviews made for this domain yet.</td>
        </tr>
        <tr ng-repeat="status in model.domainDetails.statusCodeInfo track by status.code" ng-show="model.domainDetails.statusCodeInfo">
            <td>
              <div ng-if="status.code != 200">
                <a href="#/domains/{{ model.domainDetails.name }}/requests/{{ status.code }}/">{{ status.code }}</a>

              </div>
              <div ng-if="status.code == 200">
                {{ status.code }}
              </div>
          </td>
          <td>{{ status.percentage }} ({{ status.total }})</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="pull-left page-reviews-header">Page Reviews <span class="page-reviews-badge badge ng-binding">{{ model.domainDetails.reviewCount | number }} ({{ model.domainDetails.reviewPercentage }}%)</span></h2>

  <div class="filters form-group col-lg-6 pull-right">
    <label for="urlFilter">
      <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" id="urlFilter" ng-model="model.reviewFilter" placeholder="URL starts with">
      </div>
    </label>
  </div>

  <div class="results">
    <table class="table table-striped table-bordered table-hover reviews">
      <thead>
        <tr>
          <th class="url">URL</th>
          <th class="violations">Violations</th>
          <th class="finished-at">Finished At</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="model.pages">
          <td colspan="3">No reviews made for this domain yet.</td>
        </tr>

        <tr ng-repeat="page in model.pages track by page.uuid | filter:model.reviewFilter" ng-show="model.pages">
          <td><a href="#/pages/{{ page.uuid }}/reviews/{{ page.reviewId }}/">{{ page.url }}</a></td>
          <td class="violations"><a href="#/pages/{{ page.uuid }}/reviews/{{ page.reviewId }}/">{{ page.violationCount }}</a></td>
          <td class="finished-at"><a href="#/pages/{{ page.uuid }}/reviews/{{ page.reviewId }}/"><span am-time-ago="page.completedAt*1000"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row review-pager pull-right" ng-show="model.numberOfPages > 1">
    <ul class="pagination">
      <li ng-if="model.currentPage > 1"><a ng-click="goToReviewPage(model.prevPage)">&laquo;</a></li>
      <li ng-repeat="pageIndex in model.nextPages" ng-class="getClass(pageIndex)"><a ng-show="model.numberOfPages >= pageIndex" ng-click="goToReviewPage(pageIndex)">{{ pageIndex }}</a></li>
      <li ng-if="model.currentPage < model.numberOfPages"><a ng-click="goToReviewPage(model.nextPage)">&raquo;</a></li>
    </ul>
  </div>

  <div class="row pull-left stop-review-button" ng-show="model.numberOfPages > 0">
      <button class="btn btn-sm" ng-class="model.domainDetails.is_active ? 'btn-danger' : 'btn-success'" ng-click="changeDomainStatus()">
        {{ model.domainDetails.is_active ? 'Stop reviewing': 'Start reviewing' }}
      </button>
  </div>

</div>

