<div class="view domain-view">
  <div class="info rel">
    <h2 class="blue">{{ model.domain_details.name }}</h2>

    <div class="fs0 abs abs-right toolbar">
      <div class="ib">
        <h3 class="mid-grey">pages</h3>
        <p class="grey ng-binding">{{ model.domain_details.pageCount | number }}</p>
      </div>
      <div class="ib">
        <h3 class="mid-grey">violations</h3>
        <p class="grey ng-binding">{{ model.domain_details.violationCount | number }}</p>
      </div>
      <div class="ib">
        <h3 class="mid-grey">error</h3>
        <p class="grey ng-binding">{{ model.domain_details.errorPercentage | number }}%</p>
      </div>
      <div class="ib">
        <h3 class="mid-grey">avg resp time</h3>
        <p class="grey ng-binding">{{ model.domain_details.averageResponseTime | number }}ms</p>
      </div>
    </div>

    <div class="cb"></div>
  </div>

  <div class="violations-container">
    <div class="chart-container ib" ng-if="model.domainGroupedViolations">
      <donut label="violation types" data="model.domainGroupedViolations" onselect="model.onSelect"></donut>
    </div>
    <div class="details ib">
      <ul class="categories" ng-hide="model.selectedCategory">
        <li ng-repeat="category in model.domainGroupedViolations track by category.label">
          <h4 ng-class="'color' + ($index + 1)">{{ category.value | number:2:2 }}% {{category.label}}</h4>
          <p class="grey">{{ category.pageCount | number }} pages</p>
        </li>
      </ul>

      <div class="selected-category" ng-show="model.selectedCategory" ng-class="model.selectedCategory.color + '-border'">
        <h4 ng-class="model.selectedCategory.color">{{ model.selectedCategory.percentage | number:2:2 }}% {{ model.selectedCategory.title }}</h4>
        <p class="page-count grey">{{ model.selectedCategory.pageCount | number }} pages</p>
        <ul class="category">
          <li class="fs0" ng-repeat="detail in model.selectedCategory.violations">
            <p class="ib occurrences" ng-class="model.selectedCategory.color">{{ detail.count | number }}</p>
            <p class="dark-grey ib title">{{ detail.title }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-reviews-container">
    <div class="header rel light-grey-border">
      <div class="title ib">Page Reviews <span class="percentage">({{ model.domain_details.reviewPercentage }}%)</span></div>
      <div class="search fs0 abs">
        <span class="domain ib">{{ model.domain_details.name }}/</span>
        <span class="directory ib rel"><input type="text" name="search" id="urlFilter" ng-model="model.reviewFilter" placeholder="enter a directory to filter reviews..." /><i></i></span>
      </div>
    </div>
    <div class="data">
      <table>
        <thead>
          <th class="url">URL</th>
          <th class="violations center">Violations</th>
          <th class="finished-at center">Finished at</th>
        </thead>
        <tbody>
          <tr ng-hide="model.reviews">
            <td colspan="3">No reviews made for this domain yet.</td>
          </tr>
          <tr ng-repeat="page in model.reviews.pages track by page.uuid | filter:model.reviewFilter" ng-show="model.reviews.pages">
            <td class="url"><a href="#/page/{{ page.uuid }}/review/{{ page.reviewId }}/">{{ page.url }}</a></td>
            <td class="violations center"><a href="#/page/{{ page.uuid }}/review/{{ page.reviewId }}/">{{ page.violationCount }}</a></td>
            <td class="finished-at center"><a href="#/page/{{ page.uuid }}/review/{{ page.reviewId }}/"><span am-time-ago="page.completedAt*1000"></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-hide="model.reviewFilter">
    <pager pagecount="model.numberOfPages" current="model.currentPage" pagesize="10" pagechange="model.getReviewsData" ng-show="model.numberOfPages > 1"></page>
  </div>
</div>

<div class="stop-review-button" ng-show="model.numberOfPages > 0">
  <button ng-click="model.changeDomainStatus()">
    {{ model.domainStatus ? 'Stop reviewing': 'Start reviewing' }}
  </button>
</div>
