<div class="report-view">
  <h1>{{ model.domainDetails.name }}</h1>

  <div class="row stats">
    <div class="col-lg-4">
      <div class="title text-primary">{{ model.domainDetails.pageCount }}</div>
      <div class="subtitle">pages</div>
    </div>
    <div class="col-lg-4">
      <div class="title text-primary">{{ model.domainDetails.violationCount }}</div>
      <div class="subtitle">violations</div>
    </div>
    <div class="col-lg-4">
      <div class="title text-primary">{{ model.domainDetails.violationPoints }}</div>
      <div class="subtitle">violation points</div>
    </div>
  </div>

  <div id="chart">
    <svg></svg>
  </div>

  <h2>Page Reviews</h2>

  <form class="bs-example form-horizontal">
    <fieldset>
      <div class="form-group">
        <div class="col-lg-4 pull-right">
          <input type="text" class="form-control input-sm" id="inputURL" placeholder="URL to filter...">
        </div>
      </div>
    </fieldset>
  </form>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>URL</th>
        <th>Finished At</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#/pages/some-uuid">http://g1.globo.com/</a></td>
        <td><a href="#/pages/some-uuid">20 mins ago</a></td>
      </tr>
      <tr>
        <td><a href="#/pages/some-uuid">http://g1.globo.com/planeta-bizarro/</a></td>
        <td><a href="#/pages/some-uuid">2 days ago</a></td>
      </tr>
      <tr>
        <td><a href="#/pages/some-uuid">http://g1.globo.com/economia/</a></td>
        <td><a href="#/pages/some-uuid">5 days ago</a></td>
      </tr>
    </tbody>
  </table>


  <h2>Pages without Review</h2>
  <p>No pages without review yet.</p>

</div>
