<div class="view domains-view">

  <h1 translate>Domains</h1>

  <div class="pull-right" ng-show="model.domains.length > 1">
    <div class="dropdown-wrapper domain-sort"
         dropdown-model="model.order_select"
         dropdown-select="model.order_options"
         dropdown-item-label="text"
         dropdown-onchange="model.order = selected.order">
    </div>
  </div>

  <div
    class="domains-container"
    style="max-height: {{ model.domainsVisible ? (model.domainList.length * 155) : 326 }}px;"
    nodata="model.loadedDomains" nodata-height="326" nodata-size="60" nodata-text="No domains yet. Add a new one!">
    <ul class="boxes domains">
      <li class="box ib" ng-repeat="domain in model.domains | orderBy:model.order track by domain.id" ng-class="domain.is_active ? '': 'inactive'">

      <a data-named-route="domain-details" data-args="{{ domain.name }}">
          <h2 class="blue">{{ domain.name }}</h2>
          <div class="stats">

            <div class="stat ib">
              <p class="label" translate>pages</p>
              <p class="value">{{ domain.details.pageCount | number }}</p>
            </div>

            <div class="stat ib">
              <p class="label" translate>violations</p>
              <p class="value">{{ domain.details.violationCount | number }}</p>
            </div>

            <div class="stat ib center">
              <p class="label" translate>error %</p>
              <p class="value">{{ domain.details.errorPercentage | number }}%</p>
            </div>

            <div class="stat ib right">
              <p class="label" translate>avg resp time</p>
              <p class="value">{{ domain.details.averageResponseTime * 1000 | timeUnit }}</p>
            </div>

          </div>
        </a>
      </li>
    </ul>
  </div>

  <div ng-show="model.domainList.length > 4">
    <a class="pull-right blue hide-domains fs0" ng-show="model.domainsVisible" ng-click="model.toggleDomainVisibility()">
      <span class="text ib" translate>HIDE</span>
      <span class="icon ib blue-border blue-bg round-button"><i></i></span>
    </a>
    <a class="pull-right blue show-domains fs0" ng-hide="model.domainsVisible" ng-click="model.toggleDomainVisibility()">
      <span class="text ib" translate>SHOW ALL</span>
      <span class="icon ib blue-border round-button"><i></i></span>
    </a>
  </div>

  <div class="cb"></div>

  <div id="violations" class="violations-container">
    <div class="toolbar">
      <h2 translate>Violations</h2>
      <div class="options" ng-show="model.loadedViolations">
        <a class="option ib button-group groups fs0" ng-class="model.groupsVisible ? 'selected' : ''" ng-click="model.showGroups()">
          <span class="round-button blue-border ib"><i></i></span>
          <span class="blue label ib" translate>GROUPS</span>
        </a>
        <a class="option ib frequency fs0" ng-class="model.mostFrequentVisible ? 'selected' : ''" ng-click="model.showMostFrequent()">
          <span class="round-button blue-border ib"><i></i></span>
          <span class="blue label ib" translate>FREQUENCY</span>
        </a>
        <div class="ib blue prefsfilter">
          <input id="prefsFilter" class="pointer" type="checkbox" ng-model="model.prefsFilter" /><label for="prefsFilter" class="pointer"><span translate>Show All</span></label>
        </div>
        <div class="option ib search"><input class="light-grey-border grey" type="text" ng-model="model.violationFilter" name="q" placeholder="{{ 'Enter a violation name…' | translate }}" /><i></i></div>
      </div>
    </div>

    <div class="groups-container" ng-class="model.groupsVisible ? '' : 'hidden'" nodata="model.loadedViolations" nodata-height="163" nodata-size="60">
      <ul class="group">
        <li ng-repeat="group in model.groupData | userviolationsprefsdomains: model.storage.userprefs:model.prefsFilter" ng-class="'color' + ($index + 1) + '-border'">
          <h3 ng-class="'color' + ($index + 1)">{{ group[0].category }}</h3>
          <ul class="group-violations">
            <li ng-repeat="violation in group | userviolationsprefsdomainsfrequency: model.storage.userprefs:model.prefsFilter | orderBy:'name':desc track by violation.key">
              <a data-named-route="violation-details" data-args="{{ violation.key }}">
                <div class="name dark-grey ib">{{ violation.name }}</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="frequency-container" ng-class="model.mostFrequentVisible ? '' : 'hidden'">

      <div class="most-frequent">
        <ul class="fs0">
          <li ng-repeat="violation in model.mostCommonViolations | userviolationsprefsdomainsfrequency: model.storage.userprefs:model.prefsFilter | slice:0:10 | filter:model.violationFilter track by violation.key">
            <a data-named-route="violation-details" data-args="{{ violation.key }}" class="fs0">
              <div class="number mid-grey ib">#{{ $index + 1 }}</div>
              <div class="name dark-grey ib">{{ violation.name }}</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="least-frequent">
        <ul class="fs0">
          <li ng-repeat="violation in model.mostCommonViolations | userviolationsprefsdomainsfrequency: model.storage.userprefs:model.prefsFilter | slice:10:50 | filter:model.violationFilter track by violation.key">
            <a data-named-route="violation-details" data-args="{{ violation.key }}" class="fs0">
              <div class="number mid-grey ib">#{{ $index + 11 }}</div>
              <div class="name dark-grey ib">{{ violation.name }}</div>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
