<div class="view domain-view">
  <div class="info rel">
    <h2>g1.globo.com</h2>
    <div class="values pull-right fs0">
      <ul>
        <li class="ib">
          <p class="title">pages</p>
          <p class="value">2.404.009</p>
        </li>
        <li class="ib">
          <p class="title">violations</p>
          <p class="value">11.618.783</p>
        </li>
        <li class="ib">
          <p class="title">reviewed</p>
          <p class="value">97.24%</p>
        </li>
        <li class="ib" title="HTTP request error percentage">
          <p class="title">error %</p>
          <p class="value">5.42%</p>
        </li>
        <li class="ib" title="average response time in ms">
          <p class="title">avg resp time</p>
          <p class="value">40ms</p>
        </li>
    </div>

    <div class="cb"></div>
  </div>

  <div class="violations-container">
    <div class="chart-container ib">
      <donut label="violation types" data="model.domainCategories" onselect="model.onSelect"></donut>
    </div>
    <div class="details ib">
      <ul class="categories" ng-hide="model.selectedCategory">
        <li ng-repeat="category in model.domainCategories track by category.label">
          <h4 ng-class="'color' + ($index + 1)">{{ category.value }}% {{category.label}}</h4>
          <p class="grey">{{ category.pageCount | number }} pages</p>
        </li>
      </ul>

      <div class="selected-category" ng-show="model.selectedCategory" ng-class="model.selectedCategory.color + '-border'">
        <h4 ng-class="model.selectedCategory.color">{{ model.selectedCategory.percentage }}% {{ model.selectedCategory.title }}</h4>
        <p class="page-count grey">{{ model.selectedCategory.pageCount | number }} pages</p>
        <ul class="category">
          <li class="fs0" ng-repeat="detail in model.selectedCategory.violations track by detail.title">
            <p class="ib occurrences" ng-class="model.selectedCategory.color">{{ detail.occurrences | number }}</p>
            <p class="dark-grey ib title">{{ detail.title }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-reviews-container">
    <div class="header rel light-grey-border">
      <div class="title ib">Page Reviews <span class="percentage">(90.87%)</span></div>
      <div class="search fs0 abs">
        <span class="domain ib">g1.globo.com/</span>
        <span class="directory ib rel"><input type="text" name="search" placeholder="enter a directory to filter reviews..." /><i></i></span>
      </div>
    </div>
    <div class="data">
      <table>
        <thead>
          <th class="url">URL</th>
          <th class="violations center">Violations</th>
          <th class="finished-at center">Finished at</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">
            <td class="url"><a href="#">/brasileirao-serie-a/noticia/2011/10/policiamento-nos-clubes-imagens-imagens-dado-dia-24...</a></td>
            <td class="violations center">12</td>
            <td class="finished-at center">2 days ago</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <pager pagecount="model.reviews.pageCount" current="1" pagesize="10" pagechange="model.updateReviews"></page>
</div>
