<div class="domain-details-view">
  <h1>{{ model.domainDetails.name }}</h1>

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">{{ model.domainDetails.name }}</li>
  </ol>

  <div class="row stats">
    <div class="col-lg-4">
      <div class="title text-primary">{{ model.domainDetails.pageCount }}</div>
      <div class="subtitle">pages</div>
    </div>
    <div class="col-lg-4">
      <div class="title text-primary">{{ model.domainDetails.violationCount }}</div>
      <div class="subtitle">violations</div>
    </div>
    <div class="col-lg-4">
      <div class="title text-primary">{{ model.domainDetails.violationPoints }}</div>
      <div class="subtitle">violation points</div>
    </div>
  </div>

  <div id="violation-points-chart">
    <svg></svg>
  </div>

  <div id="violation-count-chart">
    <svg></svg>
  </div>


  <h2 class="pull-left page-reviews-header">Page Reviews <span class="page-reviews-badge badge ng-binding">{{ model.pageCount }}</span></h2>

  <div class="filters form-group col-lg-6 pull-right">
    <label for="urlFilter">
      <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" id="urlFilter" ng-model="model.reviewFilter" placeholder="URL to filter">
      </div>
    </label>
  </div>

  <table class="table table-striped table-bordered table-hover reviews">
    <thead>
      <tr>
        <th class="url">URL</th>
        <th class="violations">Violations</th>
        <th class="finished-at">Finished At</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="model.pages">
        <td colspan="3">No reviews made for this domain yet.</td>
      </tr>

      <tr ng-repeat="page in model.pages | filter:model.reviewFilter | orderBy:'-violationCount'" ng-show="model.pages">
        <td><a href="#/pages/{{ page.uuid }}/reviews/{{ page.reviewId }}">{{ page.url }}</a></td>
        <td class="violations"><a href="#/pages/{{ page.uuid }}">{{ page.violationCount }}</a></td>
        <td class="finished-at"><a href="#/pages/{{ page.uuid }}"><span am-time-ago="page.completedDate"></span></a></td>
      </tr>
    </tbody>
  </table>

  <h2>Pages without Review</h2>
  <p ng-hide="model.pagesWithoutReview">No pages without review yet.</p>
  <div class="list-group">
    <a ng-repeat="page in model.pagesWithoutReview" href="#/pages/{{ page.uuid }}" class="list-group-item">{{ page.url }}</a>
    <p ng-show="model.pagesWithoutReviewCount" class="list-group-item">And {{ model.pagesWithoutReviewCount }} other pages.</p>
  </div>

</div>
