<div class="header-search">
  <a class="search-button" ng-click="clearForm(); toggleSearch()"><i></i></a>
  <div class="search-form" ng-class="model.searchFormVisible ? 'visible' : ''">
    <div class="container">
      <div class="title" translate><strong>Search a</strong> website</div>
      <form name="searchForm" novalidate onsubmit="javascript: return false;" data-ng-submit="search()">
        <input
          required
          type="url"
          name="url"
          ng-model="model.url"
          ng-disabled="!model.searchFormVisible"
          focus-if="model.searchFormVisible"
          ng-keyup="model.searchFormVisible = $event.keyCode != 27"
          placeholder="{{ 'Page URL' | translate }}" />
        <div class="arrow" ng-click="search()"><i></i></div>
      </form>
    </div>
  </div>

</div>
