<header>
  <div class="container">
    <a data-named-route="home" class="logo"><span></span><div>holmes</div></a>
    <div class="toolbar" ng-if="isLoggedIn">
      <navbar>
        <ul>
          <li><a data-named-route="domains" translate>domains</a></li>
          <li><a data-named-route="violations" translate>violations</a></li>
          <li><a data-named-route="status" translate>status</a></li>
          <li><a data-named-route="user-violations-prefs" translate>preferences</a></li>
        </ul>
      </navbar>
      <headeraddpage></headeraddpage>
      <headersearch></headersearch>
      <language></language>
      <headeralertmessage></headeralertmessage>
    </div>
  </div>
</header>
