<div class="header-search">
  <a class="search-button" ng-click="toggleSearch()"><i></i></a>
  <div class="search-form" ng-class="model.searchFormVisible ? 'visible' : ''">
    <div class="container">
      <div class="title"><strong>Search a</strong> website</div>
      <form name="searchForm" novalidate onsubmit="javascript: return false;" data-ng-submit="searchForm.$valid && search()">
        <input
          required
          type="url"
          ng-model="model.term"
          ng-disabled="!model.searchFormVisible"
          focus-if="model.searchFormVisible"
          ng-keyup="model.searchFormVisible = $event.keyCode != 27"
          placeholder="Page URL" />
        <div class="arrow" ng-click="searchForm.$valid && search()"><i></i></div>
      </form>
    </div>
  </div>

</div>
