<header>
  <div class="container">
    <a data-named-route="home" class="logo"><span></span><div>holmes</div></a>
    <div class="toolbar">
      <navbar>
        <ul>
          <li><a data-named-route="domains">domains</a></li>
          <li><a href="javascript:;" ng-click="scrollToViolations()">violations</a></li>
          <li><a data-named-route="status">status</a></li>
        </ul>
      </navbar>
      <headeraddpage></headeraddpage>
      <headersearch></headersearch>
      <language></language>
      <headeralertmessage></headeralertmessage>
    </div>
  </div>
</header>
