<div class="view status-view status-workers-view">
  <h1>Status</h1>
  <statusbar index="4"></statusbar>

  <div ng-hide="model.requests">
    <p>No available requests.</p>
  </div>

  <table ng-show="model.requests">
    <thead>
      <tr>
        <th class="dark-grey">URL</th>
        <th class="dark-grey center">response time</th>
        <th class="dark-grey center">status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="request in model.requests">
        <td class="url blue"><a href="{{ request.url }}" target="_blank"><span>{{ request.url }}</span></td>
        <td class="dark-grey center response-time">{{ request.response_time | number:2 }}ms</td>
        <td class="dark-grey center status-code">{{ request.status_code }}</td>
      </tr>
    </tbody>
  </table>

  <pager
    pagecount="model.requestsCount"
    current="model.currentPage"
    pagesize="model.pageSize"
    pagechange="model.updateLastRequests"
    ng-show="model.requestsCount > 10"
  ></page>
</div>
