<div class="view status-view last-requests-view">
  <h1>Status</h1>
  <statusbar index="4"></statusbar>

  <div class="failed-requests-container" nodata="model.loadedRequestsInLastDay" nodata-height="501" nodata-size="40" nodata-text="">
    <div class="chart-container ib" ng-if="model.loadedRequestsInLastDay">
      <donut label="failed responses" data="model.failedRequests" onselect="model.onSelect"></donut>
    </div>
    <div class="details ib">
      <div class="title ib">Failed responses in the last day</div>
      <ul class="categories" ng-hide="model.selectedCategory">
        <li ng-repeat="failedRequest in model.failedRequests">
          <h4 ng-class="'color' + ($index + 1)">{{ failedRequest.percentage | number:2 }}% {{failedRequest.label}}</h4>
          <p class="grey" ng-pluralize
            count="failedRequest.value"
            when="{
              'one': '1 response',
              'other': '{{ failedRequest.value | number:0 }} responses',
            }"></p>
        </li>
      </ul>
    </div>
  </div>

  <div nodata="model.loadedRequests" nodata-height="451" nodata-size="30" nodata-failed="" nodata-fade="no">
    <table>
      <thead>
        <tr>
          <th class="dark-grey">URL</th>
          <th class="dark-grey center">response time</th>
          <th class="dark-grey center">status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in model.requests">
          <td class="url blue"><a href="{{ request.url }}" target="_blank"><span>{{ request.url }}</span></td>
          <td class="dark-grey center response-time">{{ request.response_time * 1000 | timeUnit }}</td>
          <td class="dark-grey center status-code">{{ request.status_code }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <pager
    current="model.currentPage"
    pagesize="model.pageSize"
    pagechange="model.updateLastRequests"
    ng-show="model.loadedRequests"
  ></pager>

</div>
