<div class="view status-view status-workers-view">
  <h1>Status</h1>
  <statusbar index="2"></statusbar>

  <div dropdown-select="model.domainsOptions"
       dropdown-model="model.domainsSelected"
       dropdown-item-label="text"
       dropdown-onchange="model.getLastReviews()"
       class="dropdown-wrapper">
  </div>
  <button class="dropdown-clear"
          ng-hide="model.domainsSelected.placeholder == true"
          ng-click="model.clearDomainDropdown()">X</button>

  <div class="inlasthour blue" nodata="model.loadedReviewsInLastHour" nodata-height="28" nodata-size="20" nodata-text="No reviews data available">
    <ng-pluralize
      ng-if="model.lastReviewsInLastHour.count > 0"
      count="model.lastReviewsInLastHour.count"
      when="{
        'one': '1 review in the last hour',
        'other': '{{ model.lastReviewsInLastHour.count | number:0 }} reviews in the last hour',
      }"></ng-pluralize>
    <ng-pluralize
      ng-if="model.lastReviewsInLastHour.count > 0"
      count="model.lastReviewsInLastHour.perHour"
      when="{
        'one': ' (1 review per second)',
        'other': ' ({{ model.lastReviewsInLastHour.perHour | number:2 }} reviews per second)',
      }"></ng-pluralize>
  </div>

  <div nodata="model.loadedReviews" nodata-height="350" nodata-size="30" nodata-text="" nodata-failed="" nodata-fade="no">
    <ul class="boxes last-reviews">
      <li class="box worker" data-ng-repeat="review in model.lastReviews | orderBy:'-completedAt' track by review.uuid">
        <a href="#/page/{{ review.page.uuid }}/review/{{ review.uuid }}">
          <h2 class="blue ng-binding">{{ review.domain }}</h2>
          <p class="url">{{ review.page.url }}</p>
          <p class="timeago"><span class="time" am-time-ago="review.completedAt*1000"></span> ago</p>
        </a>
      </li>
    </ul>
  </div>

</div>
