<div class="view status-view status-workers-view">
  <h1>Status</h1>
  <statusbar index="2"></statusbar>

  <div ng-hide="model.lastReviews">
    <p>No available last reviews.</p>
  </div>

  <ul class="boxes last-reviews" ng-show="model.lastReviews">
    <li class="box worker" data-ng-repeat="review in model.lastReviews track by review.uuid">
      <a href="#/page/{{ review.page.uuid }}/review/{{ review.uuid }}">
        <h2 class="blue ng-binding">{{ review.domain }}</h2>
        <p class="url">{{ review.page.url }}</p>
        <p class="timeago"><span class="time" am-time-ago="review.completedAt*1000"></span> ago</p>
      </a>
    </li>
  </ul>
</div>
