<div class="view status-view status-last-reviews-view">
  <h1>Status</h1>
  <statusbar index="2"></statusbar>

  <ul class="boxes last-reviews">
    <li class="box worker" ng-repeat="review in model.lastReviews track by review.id">
      <a href="/domains/{{ review.pageId }}/reviews/{{ review.id }}">
        <h2 class="blue ng-binding">{{ review.domainName }}</h2>
        <p class="url">{{ review.url }}</p>
        <p class="timeago"><span class="time" am-time-ago="review.date"></span> ago</p>
      </a>
    </li>
  </ul>
</div>
