<div class="main-view">

    <div class="jumbotron">
      <div class="container">
        <h1>Add a new website</h1>
        <p>
          Enter the url for the page you want holmes to investigate. Please note that the validation of the website may take some minutes to complete.
        </p>

        <form class="add-page" name="addPageForm" novalidate data-ng-submit="addPageForm.url.$valid && addPage()">
          <div class="input-group input-group-lg" ng-class="(addPageForm.url.$pristine || addPageForm.url.$valid) ? '': 'has-error'">
            <label for="url" class="input-group-addon">
              <span class="glyphicon glyphicon-home"></span>
            </label>

            <input 
              required
              type="url"
              name="url"
              id="url" 
              class="form-control input-lg"
              ng-model="model.url"
              ng-disabled="model.isAddingPage"
              placeholder="Enter page url..." />

            <div class="input-group-btn">
              <button class="btn btn-default" ng-disabled="!addPageForm.$valid || model.isAddingPage" ng-click="addPage()" type="button">add</button>
            </div>
          </div>
        </form>

        <div class="warnings" ng-class="{'invalid': model.invalidUrl, 'turns-out': model.turnsOut}">
          <div class="warning alert alert-dismissable alert-warning turns-out-warning" >
            <button type="button" class="close" ng-click="clearForm()">×</button>
            <h4>Turns out it was a redirect!</h4>
            <p>The website you added was actually a redirect to {{ model.turnsOut }}. Do you want to add <a href="#" ng-click="model.url = model.turnsOut; addPage()" class="alert-link">{{ model.turnsOut }}</a> instead?</p>
          </div>

          <div class="warning alert alert-dismissable alert-danger invalid-warning">
            <button type="button" class="close" ng-click="clearForm()">×</button>
            <h4>Url not found!</h4>
            <p>The website you added could not be found. Maybe you mispelled it?</p>
          </div>
        </div>

      </div>
    </div> <!-- jumbotron -->

    <div class="panel panel-default last-reviews">
      <div class="panel-heading">Last Reviews</div>
      <div class="panel-body">
        <div class="row">

          <div class="col-lg-4"
               data-ng-repeat="review in reviews"
          >

            <a href="/page/{{ review.page.id }}">
              <div class="panel panel-danger">
                <div class="panel-body">
                  <h3 class="panel-title" title="{{ review.page.url }}">
                    <span class="glyphicon glyphicon-home"></span>
                    {{ review.page.url }}
                  </h3>
                </div>
                <div class="panel-footer">
                  <span class="glyphicon glyphicon-time"></span>
                  <time class="timeago" datetime="{{ review.created }}">{{ violation.createdString }}</time>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>

</div>
