<div class="main-view">

    <div class="jumbotron">
      <div class="container">
        <h1>Add a new website</h1>
        <p>
          Enter the url for the page you want holmes to investigate. Please note that the validation of the website may take some minutes to complete.
        </p>

        <form class="add-page">
          <div class="input-group input-group-lg">
            <label for="url" class="input-group-addon">
              <span class="glyphicon glyphicon-home"></span>
            </label>

            <input type="text" name="url" id="url" class="form-control input-lg" ng-model="model.url" placeholder="Enter page url...">

            <div class="input-group-btn">
              <button class="btn btn-default" ng-click="addPage(model.url)" type="button">add</button>
            </div>
          </div>
        </form>
      </div>
    </div> <!-- jumbotron -->

    <div class="panel panel-default last-violations">
      <div class="panel-heading">Last Violations</div>
      <div class="panel-body">
        <div class="row">

          <div class="col-lg-4"
               data-ng-repeat="violation in violations"
          >
            <a href="/page/{{ violation.page }}/violations/{{ violation.id }}">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title" title="{{ violation.url }}">
                    <span class="glyphicon glyphicon-home"></span>
                    {{ violation.url }}
                  </h3>
                </div>
                <div class="panel-body">
                  {{ violation.text }}
                </div>
                <div class="panel-footer">
                  <span class="glyphicon glyphicon-time"></span>
                  <time class="timeago" datetime="{{ violation.added }}">{{ violation.addedString }}</time>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
</div>
