<div class="report-view">
  <h1>Page: {{ model.details.page.url }}</h1>

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/domains/{{ model.details.domain }}">{{ model.details.domain }}</a></li>
    <li class="active">{{ model.details.completedDateISO | date:'dd MMM yyyy' }}</li>
    <li class="active">{{ model.details.page.url }}</li>
  </ol>

  <div class="row stats">
    <div class="col-lg-6">
      <div class="title text-primary">{{ model.details.violationCount }}</div>
      <div class="subtitle">violations</div>
    </div>
    <div class="col-lg-6">
      <div class="title text-primary">{{ model.details.violationPoints }}</div>
      <div class="subtitle">points</div>
    </div>
  </div>

  <div id="violation-points-chart">
     <svg></svg>
  </div>

  <div id="violation-count-chart">
    <svg></svg>
  </div>

  <ul id="reportTabs" class="nav nav-tabs">
    <li class="active"><a data-target="#current-report-facts" data-toggle="tab">Facts</a></li>
    <li><a data-target="#current-report-violations" data-toggle="tab">Violations</a></li>
  </ul>

  <div id="reportTabsContent" class="tab-content">

    <div class="tab-pane fade active in" id="current-report-facts">
      <div class="current-report">

        <div class="fact-table">
          <div class="panel panel-default">
            <div class="panel-heading">Facts</div>
            <div class="panel-body">
              <table class="table table-striped table-bordered table-hover reviews">
                <thead>
                  <tr>
                    <th class="violations">Title</th>
                    <th class="finished-at">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-hide="model.details.facts">
                    <td colspan="3">No facts for this page yet.</td>
                  </tr>
                  <tr ng-repeat="fact in model.details.facts | filter:{'unit': '!values'}" ng-show="model.details.facts">
                    <td>{{ fact.title }}</td>
                    <td ng-if="fact.unit == 'kb'">{{ fact.value|number }}<span>{{ fact.unit }}</span></td>
                    <td ng-if="fact.unit != 'kb'">{{ fact.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="fact-table" ng-repeat="fact in model.details.facts | filter:{'unit': 'values'}">
          <div class="panel panel-default">
            <div class="panel-heading">{{ fact.title }}</div>
            <div class="panel-body">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                  </tr>
                    <th>Key</th>
                    <th>Property</th>
                    <th>Content</th>
                </thead>
                <tbody>
                  <tr ng-repeat="value in fact.value">
                    <td>{{ value.key }}</td>
                    <td>{{ value.property }}</td>
                    <td>{{ value.content }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- tab-pane -->

    <div class="tab-pane fade in" id="current-report-violations">
      <div class="current-report">
        <h3>Violations</h3>
        <div class="violations row">
          <div class="col-lg-4 violation" data-ng-repeat="violation in model.details.violations">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title" title="{{ violation.title }}">
                  <span class="glyphicon glyphicon-home"></span>
                  {{ violation.title }}
                </h3>
              </div>
              <div class="panel-body">
                <div class="contents">{{ violation.description }}</div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- current-report -->
    </div> <!-- tab-pane -->

  </div> <!-- tab-content -->


  <h2 class="pull-left page-reviews-header">Reviews <span class="page-reviews-badge badge ng-binding">{{ model.reviews.length }}</span></h2>

  <table class="table table-striped table-bordered table-hover reviews">
    <thead>
      <tr>
        <th class="violations">Violations</th>
        <th class="finished-at">Finished At</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="model.reviews">
        <td colspan="3">No reviews made for this page yet.</td>
      </tr>

      <tr ng-repeat="review in model.reviews | orderBy:'violationCount'" ng-show="model.reviews">
        <td class="violations"><a href="#/pages/{{ model.details.page.uuid }}/reviews/{{ review.uuid }}">{{ review.violationCount }}</a></td>
        <td class="finished-at"><a href="#/pages/{{ model.details.page.uuid }}/reviews/{{ review.uuid }}"><span am-time-ago="review.completedDate"></span></a></td>
      </tr>
    </tbody>
  </table>

</div>
