<div class="view review-view">

  <h2 title="{{ model.review.url }}"><a class="blue" href="{{ model.review.url }}">{{ model.review.url }}</a></h2>

  <div class="info rel">

    <div class="violations ib">
      <p class="title mid-grey">violations</p>
      <p class="value grey">{{ model.review.violationCount | number }}</p>
    </div>

    <div class="points ib">
      <p class="title mid-grey">points</p>
      <p class="value grey">{{ model.review.points | number }}</p>
    </div>

    <div class="reviews ib pull-right fs0">
      <div class="review-count ib">
        <p class="title mid-grey">reviews</p>
        <p class="value grey">{{ model.reviews.length | number }}</p>
      </div>

      <div class="violations ib">
        <div class="table">
          <div class="tr row first">
            <div class="td title">violations</div>
            <div ng-repeat="review in model.reviews" class="td value"><a href="#/domains/{{ model.domainId }}/{{ review.id }}">{{ review.violationCount }}</a></div>
          </div>
          <div class="tr row">
            <div class="td title">finished at</div>
            <div ng-repeat="review in model.reviews" class="td value">
              <a href="#/domains/{{ model.domainId }}/{{ review.id }}">
                <span class="time" am-time-ago="review.finishedAt"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cb"></div>

    <div class="review-data">
      <div class="tabs">
        <div class="tab-header ib grey" ng-class="model.violationsVisible ? 'selected' : ''">
          <a ng-click="model.showViolations()">violations</a>
        </div>
        <div class="tab-header ib" ng-class="model.factsVisible ? 'selected' : ''">
          <a ng-click="model.showFacts()">facts</a>
        </div>
      </div>

      <div class="tabs-container">
        <div ng-show="model.violationsVisible" class="tab">
          <div class="chart-container ib">
            <donut label="violation types" data="model.review.violations"></donut>
          </div>
          <div class="details ib">
            <ul class="violations">
              <li ng-repeat="category in model.review.violations track by category.label">
                <h4 ng-class="'color' + ($index + 1)">{{ category.percentage }}% {{category.label}}</h4>
                <p class="grey">{{ category.violations.length | number }} violations</p>
              </li>
            </ul>
          </div>

          <div class="categories violation-categories">
            <div class="category" ng-repeat="category in model.review.violations track by category.label">
              <h3 ng-class="'color' + ($index + 1)">{{ category.label }}</h3>
              <ul>
                <li ng-repeat="violation in category.violations track by violation.key">
                  <h4>{{ violation.title }}</h4>
                  <p class="mid-grey">{{ violation.description }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-show="model.factsVisible" class="tab">
          <div class="fact-category" ng-repeat="category in model.review.facts track by category.label">
            <h3>{{ category.label }}</h3>

            <table>
              <thead>
                <tr>
                  <th>title</th>
                  <th>value</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="fact in category.facts track by fact.key">
                  <td class="title grey">{{ fact.title }}</td>
                  <td class="fact-value grey">{{ fact.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
