<div class="view status-view status-workers-view">
  <h1>Status</h1>
  <statusbar index="3"></statusbar>

  <div nodata="model.reviewsLoaded" nodata-height="451" nodata-size="30" nodata-text="No reviews data available" nodata-fade="no">
    <table>
      <thead>
        <tr>
          <th class="dark-grey">URL</th>
          <th class="dark-grey center" ng-show="review.date">estimated time</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="review in model.reviews">
          <td class="url blue"><a style="{{ review.date ? '' : 'max-width:1000px' }}" href="{{ review.url }}" target="_blank"><span style="{{ review.date ? '' : 'max-width:1000px' }}">{{ review.url }}</span></td>
          <td class="timeago dark-grey center" ng-show="review.date"><span class="time" am-time-ago="review.date"></span> ago</td>
        </tr>
      </tbody>
    </table>
  </div>

  <pager
    current="model.currentPage"
    pagesize="model.pageSize"
    pagechange="model.updateReviews"
    ng-show="model.hasReviews"
  ></pager>

</div>
