<div class="view review-view">

  <h2 title="{{ model.review.url }}"><a target="_blank" class="blue" href="{{ model.review_details.page.url }}">{{ model.review_details.page.url }}</a></h2>

  <div class="info rel">

    <div class="violations ib">
      <p class="title mid-grey">violations</p>
      <p class="value grey">{{ model.review_details.violationCount | number }}</p>
    </div>

    <div class="points ib">
      <p class="title mid-grey">points</p>
      <p class="value grey">{{ model.review_details.violationPoints| number }}</p>
    </div>

    <div class="reviews ib pull-right fs0">
      <div class="review-count ib">
        <p class="title mid-grey">reviews</p>
        <p class="value grey">{{ model.reviews.length | number }}</p>
      </div>

      <div class="violations ib">
        <div class="table">
          <div class="tr row first">
            <div class="td title">violations</div>
            <div ng-repeat="review in model.reviews" class="td value">
              <a href="#/page/{{ model.pageId }}/review/{{ review.uuid }}">{{ review.violationCount }}</a>
            </div>
          </div>
          <div class="tr row">
            <div class="td title">finished at</div>
            <div ng-repeat="review in model.reviews" class="td value">
              <a href="#/page/{{ model.pageId }}/review/{{ review.uuid }}">
                <span class="time" am-time-ago="review.completedAt*1000"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cb"></div>

    <div class="review-data">
      <div class="tabs">
        <div class="tab-header ib grey" ng-class="model.violationsVisible ? 'selected' : ''">
          <a ng-click="model.showViolations()">violations</a>
        </div>
        <div class="tab-header ib" ng-class="model.factsVisible ? 'selected' : ''">
          <a ng-click="model.showFacts()">facts</a>
        </div>
      </div>

      <div class="tabs-container">
        <div ng-show="model.violationsVisible" class="tab">
          <div class="chart-container ib" ng-if="model.violations">
            <donut label="violation types" data="model.violations"></donut>
          </div>
          <div class="details ib">
            <ul class="violations">
              <li ng-repeat="violations in model.violations | orderBy: '-value'">
              <h4 ng-class="'color' + ($index + 1)">{{ violations.value | number:2 }}% {{ violations.label }}</h4>
                <p class="grey" ng-pluralize
                  count="violations.violations.length"
                  when="{
                    'one': '1 violation',
                    'other': '{{ violations.violations.length | number:0 }} violations',
                  }"></p>
              </li>
            </ul>
          </div>

          <div class="categories violation-categories">
            <div class="category" ng-repeat="violations in model.violations | orderBy : '-value' ">
              <h3 ng-class="'color' + ($index + 1)">{{ violations.label }}</h3>
              <ul>
                <li ng-repeat="violation in violations.violations">
                  <h4>{{ violation.title }}</h4>
                  <p class="mid-grey" ng-bind-html="model.asHtml(violation.description)"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-show="model.factsVisible" class="tab">
          <div class="fact-category" ng-repeat="(facts_category, facts_list) in model.facts track by facts_category">
            <h3>{{ facts_category }}</h3>

            <table>
              <thead>
                <tr>
                  <th>title</th>
                  <th>value</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="fact in facts_list track by fact.key">
                  <td class="title grey"><div>{{ fact.title }}</div></td>
                  <td class="fact-value grey">
                    <div class="content" ng-if="fact.unit == 'value'">{{ fact.value }}</div>
                    <div class="content" ng-if="fact.unit == 'kb'">{{ fact.value | number:2 }}kb</div>
                    <div class="content" ng-if="fact.unit == 'css' || fact.unit == 'js' || fact.unit == 'links'">
                      <ul>
                        <li ng-repeat="value in fact.value" class="url">
                          <a href="{{ value }}" title="{{ value }}" target="_blank">{{ value }}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="content" ng-if="fact.unit == 'images'">
                      <ul class="fs0 group images">
                        <li ng-repeat="value in fact.value" class="ib">
                          <a href="{{ value }}" target="_blank">
                            <div class="img-container">
                              <img ng-src="{{ value }}" title="{{ value }}" alt="{{ value }}" />
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="content" ng-if="fact.unit == 'values'">
                      <table>
                        <thead>
                          <tr>
                            <th>Key</th>
                            <th>Content</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="value in fact.value">
                            <td class="unit-values">{{ value.key }}</td>
                            <td>{{ value.content }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="content" ng-if="fact.unit == 'heading-hierarchy' || fact.unit == 'google-analytics'">
                      <ul>
                        <li ng-repeat="value in fact.value">
                          {{ value.0 }}: {{ value.1 }}
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
