<div class="navbar navbar-inverse menu">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">holmes</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="search">
          <div class="input-group input-group-sm search-box">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" ng-model="model.term" placeholder="Page URL">
            <span class="input-group-btn">
              <button class="btn btn-primary search-button" ng-click="search()" type="button">Go!</button>
            </span>
          </div>
        </div>
      </li>
      <li data-ng-class="getClass('/')"><a href="#/">home</a></li>
      <li data-ng-class="getClass('/domains')"><a href="#/domains">domains</a></li>
    </ul>
  </div><!-- /.nav-collapse -->
</div>

<div class="sidebar">
  <!--<h1 class="logo"><a href="#/">holmes</a></h1>-->

  <!--<h3>Search Review</h3>-->
  <!--<div class="search">-->
    <!--<div class="input-group input-group-sm search-box">-->
      <!--<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>-->
      <!--<input type="text" class="form-control" placeholder="Page URL">-->
      <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="button">Go!</button>-->
      <!--</span>-->
    <!--</div>-->

    <!--<div class="alert alert-dismissable alert-danger">-->
      <!--<strong>Página não encontrada!</strong><div>Por favor tente novamente com a URL exata.</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="list-group">-->
    <!--<a href="#/" data-ng-class="getClass('/')" class="list-group-item">home</a>-->
    <!--<a href="#/domains" data-ng-class="getClass('/domains')" class="list-group-item">domains</a>-->
  <!--</div>-->

  <div class="panel panel-primary common-violations">
    <div class="panel-heading">
      <h3 class="panel-title">Most Common Violations</h3>
    </div>
    <div class="panel-body">
      <div class="list-group" ng-hide="model.mostCommonViolations.length">
        <p>No available violations.</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item"
          data-ng-repeat="violation in model.mostCommonViolations | orderBy: '-count'"
        >
          <span class="badge">{{ violation.count }}</span>
          <span class="text">{{ violation.name }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="workers panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Workers <span class="badge worker-count pull-right">{{ model.workers.length }}</span></h3>
    </div>
    <div class="panel-body">
      <div class="list-group" ng-hide="model.workers.length">
        <p>No available workers.</p>
      </div>
      <div class="list-group" ng-show="model.workers.length">
        <div class="list-group-item worker-item"
           data-ng-class="worker.working == true ? 'active' : ''"
           title="{{ worker.page_url || 'Worker UUID: ' + worker.uuid }}"
           data-ng-repeat="worker in model.workers | orderBy:'page_url'">
          <div>
          {{ worker.page_url || "Worker Idle" }}
          </div>
        </div>
      </div>

      <div class="subtitle pull-right">
        <div class="square"></div>
        <p class="text">active workers</p>
      </div>
    </div>
  </div>
</div>
