<div class="sidebar">
  <h1><a href="http://github.com/heynemann/holmes-web">holmes</a></h1>
  <div class="list-group">
    <a href="#/" data-ng-class="getClass('/')" class="list-group-item">home</a>
    <a href="#/domains" data-ng-class="getClass('/domains')" class="list-group-item">domains</a>
  </div>

  <div class="panel panel-primary common-violations">
    <div class="panel-heading">
      <h3 class="panel-title">Most Common Violations</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"
          data-ng-repeat="violation in mostCommonViolations | orderBy: '-count'"
        >
          <span class="badge">{{ violation.count }}</span>
          <span class="text">{{ violation.name }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="workers panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Workers <span class="badge worker-count pull-right">{{ model.workers.length }}</span></h3>
    </div>
    <div class="panel-body">
      <div class="list-group" ng-hide="model.workers.length">
        <p>No available workers.</p>
      </div>
      <div class="list-group" ng-show="model.workers.length">
        <a href="#/pages/{{ worker.page_uuid }}" class="list-group-item worker-item"
           data-ng-class="worker.working == true ? 'active' : ''"
           title="{{ worker.page_url || 'Worker UUID: ' + worker.uuid }}"
           data-ng-repeat="worker in model.workers"
        >
          <div>
          {{ worker.page_url || "Worker Idle" }}
          </div>
        </a>
      </div>

      <div class="subtitle pull-right">
        <div class="square"></div>
        <p class="text">active workers</p>
      </div>
    </div>
  </div>
</div>
