<div class="view violation-view">
  <div class="header rel">
    <h2>{{ model.violation.label }}</h2>
    <div class="fs0 abs abs-right toolbar" nodata="model.loadedViolation" nodata-height="47" nodata-size="10" nodata-failed="">
      <div class="ib" ng-show="model.violation.domainsCount">
        <h3 class="mid-grey">domains</h3>
        <p class="grey">{{ model.violation.domainsCount }}</p>
      </div>
      <div class="ib" ng-show="model.violation.pageCount">
        <h3 class="mid-grey">pages</h3>
        <p class="grey">{{ model.violation.pageCount | number }}</p>
      </div>
    </div>
  </div>

  <div class="domains">
    <ul nodata="model.loadedViolation" nodata-height="230" nodata-size="60">
      <li class="fs0" ng-repeat="domain in model.violation.domains track by domain.name">
        <h3 class="grey ib">{{ domain.name }}</h3>
        <p class="ib"><horizontal percentage="domain.percentage" value="domain.value"></horizontal></p>
      </li>
    </ul>
  </div>

  <div ng-if="model.showDetails" class="details-container" nodata="model.loadedDetails" nodata-height="501" nodata-size="40" nodata-text="">
    <div class="chart-container ib" ng-if="model.loadedDetails">
      <donut label="{{model.violationKey.replace('.', ' ')}} details" data="model.details" onselect="model.onSelect"></donut>
    </div>
    <div class="details ib">
      <ul class="categories" ng-hide="model.selectedCategory">
        <li ng-repeat="failedRequest in model.details">
          <h4 ng-class="'color' + ($index + 1)">{{ failedRequest.percentage | number:2 }}% {{failedRequest.label}}</h4>
          <p class="grey" ngpluralize
            count="failedRequest.value"
            when="{
              'one': '1 occurrence',
              'other': '{{ failedRequest.value | number:0 }} occurrences',
            }"></p>
        </li>
      </ul>
    </div>
  </div>

  <div class="reviews">
    <div class="page-reviews-container">
      <div class="header rel light-grey-border">
        <div class="title ib">Reviews</div>
        <div class="search fs0 abs" ng-show="model.hasReviews">

          <domainDropdown showclose="false" autoload="false" selected="model.domainFilter" options="model.domains" placeholder="all domains" onchange="model.domainFilter"></domainDropdown>

          <p class="slash grey directory ib rel">/</p>
          <span class="directory ib rel">
            <input type="text"
              ng-model="model.pageFilter"
              ng-disabled="model.domainFilter == 'all domains'"
              placeholder="{{ model.domainFilter == 'all domains' ?
                'select a domain on the left...'
                : 'enter a directory to filter reviews...'
              }}"/><i></i>
          </span>
        </div>
      </div>
      <div class="data" nodata="model.loadedReviews" nodata-height="457" nodata-size="40" nodata-fade="no" nodata-text="No reviews found">
        <table>
          <thead>
            <tr><th class="url">URL</th>
            <th class="finished-at center">Finished at</th>
          </tr></thead>
          <tbody>
            <tr ng-repeat="review in model.violation.reviews" class="ng-scope">
              <td class="url"><a href="#/page/{{review.page.uuid}}/review/{{review.uuid}}">{{review.page.url}}</a></td>
              <td class="finished-at center"><span am-time-ago="review.page.completedAt * 1000"></span> ago</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <pager
    ng-show="model.loadedReviews !== null && (model.reviewsCount === null || model.reviewsCount > model.pageSize)"
    pagecount="model.reviewsCount"
    current="model.currentPage"
    pagesize="model.pageSize"
    pagechange="model.onPageChange"
    hasnext="model.violation.reviews.length >= model.pageSize"
  ></pager>

  </div>
</div>
