<div class="view status-view status-workers-view">
  <h1>Status</h1>
  <statusbar index="1"></statusbar>

  <div nodata="model.loadedWorkers" nodata-height="350" nodata-size="30" nodata-text="No workers data available">
    <horizontal ng-if="model.workerCount"
      percentage="model.activeWorkersPercentage"
      value="model.activeWorkers"
      total="model.workerCount"
      showtotal="true"
      valuelabel="active workers"
      totallabel="inactive workers"
    >
    </horizontal>

    <ul class="boxes workers">
      <li class="box worker" ng-repeat="worker in model.workers | orderBy:'-dt' track by worker.workerId">
        <a href="{{ worker.url }}" target="_blank">
          <h2 class="blue ng-binding">{{ worker.domainName || "idle" }}</h2>
          <p class="url">{{ worker.url || "Waiting for new jobs..." }}</p>
          <p class="timeago">last ping: <span class="time" am-time-ago="worker.dt * 1000"></span> ago</p>
        </a>
      </li>
    </ul>
  </div>

</div>
