<div class="view status-view status-workers-view">
  <h1>Status</h1>
  <statusbar index="1"></statusbar>

  <div ng-if="model.workerCount">
    <horizontal
      percentage="model.activeWorkersPercentage"
      value="model.activeWorkers"
      total="model.workerCount"
      showtotal="true"
      valuelabel="active workers"
      totallabel="inactive workers"
    >
    </horizontal>
  </div>

  <ul class="boxes workers">
    <li class="box worker" ng-repeat="worker in model.workers track by worker.uuid">
      <a href="{{ worker.current_url }}">
        <h2 class="blue ng-binding">{{ worker.domain_name || "idle" }}</h2>
        <p class="url">{{ worker.current_url || "Waiting for new jobs..." }}</p>
        <p class="timeago">last ping: <span class="time" am-time-ago="worker.last_ping*1000"></span> ago</p>
      </a>
    </li>
  </ul>
</div>
